@import "tailwindcss";

@layer base {
  body {
    @apply bg-[var(--color-bg)] text-[var(--color-text)];
    font-family: "IBM Plex Mono", monospace;
    letter-spacing: 0.1em;
  }

  :root {
    --color-bg: #f8f5ec;
    --color-bg-2: #f7f3e4;
    --color-text-1: #340947;
    --color-text-2: #000000;
    --color-footer: #615F5F;
    --color-accent-1: #7D1647;
    --color-accent-2: #90446E;
    --color-accent-3: #90446E;
    --color-accent-4: #B7AE93;
    --color-disabled: #31184a;
    --color-border-1: #8A8A8A;
    --color-separator: #C0C0C0;
    --color-success-1: #429336;
    --color-success-2: #429336;
    --color-success-3: #CDF5C7;
    --color-error-1: #D92828;

    --line-height-h1: 1.1;
    --line-height-h2: 1.1;
    --line-height-h3: 1.1;
    --line-height-h4: 1.1;
    --line-height-body-lg: 1.35;
    --line-height-body-sm: 1.2;

    --font-weight-light: 100;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  }
}

a {
  margin-right: 1rem;
}

main {
  text-align: center;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 80px;
}

h1 {
  color: var(--color-text-1);
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}

@layer components {
  .btn {
    @apply py-2 px-6 bg-[var(--color-accent-1)] rounded-[10px] cursor-pointer transition-colors duration-200 text-white;
  }

  .btn:hover {
    @apply bg-[var(--color-accent-3)];
  }

  .btn:disabled {
    @apply bg-[var(--color-disabled)] text-[var(--color-footer)];
  }
  
  .btn:disabled:hover {
    @apply cursor-not-allowed;
  }

  .nav {
    @apply hidden md:flex gap-4 items-center rounded-[20px] bg-[var(--color-bg-2)] py-[20px] px-[30px]
  }

  h2 {
    @apply text-3xl leading-[var(--line-height-h2)] font-[var(--font-weight-bold)];
  }

  h3 {
    @apply text-2xl leading-[var(--line-height-h3)] font-[var(--font-weight-bold)];
  }

  .subheader-1 {
    @apply font-bold text-base;
  }

  .body-1 {
    @apply font-normal text-base;
  }

  .body-2 {
    @apply font-normal text-sm;
  }

  .body-3 {
    @apply font-normal text-xs;
  }
}